.body__footer {
    min-height: 10vh;
    background-color: #003049;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid black
}

.footer__div_logo {
    height: 2em;
    width: 2em;
}

.div_logo__img {
    height: 100%;
    width: auto;
}

.footer__div_info {

}