.body__footer {
    min-height: 10vh;
    background-color: #003049;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid black
}

.footer__div_logo {

}

.footer__div_info {

}